/*
	说明：此文件为公共样式，
	如需添加，
	请以common-xxx 命名，
	并加上注释，
	并同时通知其他开发人员。
*/

//公共变量
//#33a9fc:#33a9fc;
//
//reset
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

body {
  color: #555;
  font-size: 14px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

td, th, caption {
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

a {
  color: #555;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  border: none;
  vertical-align: middle;
}

ol, ul, li {
  list-style: none;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

//公共样式
html,body{
	// height:100%;
	font-family: "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
	font-size: 16px;
	margin:0 auto;
	// overflow:auto;
	position:relative;
	background: #f2f2f2 !important;
  overflow-x: hidden;
}
a {
  text-decoration: none !important;
  cursor: pointer !important;
}

//end 公共样式

// 标题基本设置
.common_font_title1 {
  font-size: (16rem/16);
  color: #000;
}

.common_font_title2 {
  font-size: (14rem/16);
  color: #666;
}

.common_font_title3 {
  font-size: (12rem/16);
  color: #666;
  word-break: break-all;
}
